// Imports:
@import '../variables/_breakpoints';

// Styles:
article {
  margin: 0 auto;
  max-width: 600px;
  padding: 4rem 0;
  width: 90%;

  p {
    img {
      padding-bottom: 3rem;
      width: 100%;

      @media (max-width: @breakpoint-mobile) {
        padding-bottom: 2.6rem;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}