// Imports:
@import '../mixins/width.less';
@import '../variables/_breakpoints.less';
@import '../variables/_colors.less';

// Styles:
header {
  .width();

  padding: 12rem 0 2rem 0;

  @media (max-width: @breakpoint-mobile) {
    padding-top: 4rem;
  }

  a {
    text-decoration: none;

    h1 {
      font-size: 2.8rem;
      letter-spacing: .25rem;
      line-height: 2.8rem;
      padding: 0;
    }
  
    p:last-child {
      color: @grey;
      letter-spacing: .25rem;
      line-height: 2.3rem;
      padding: .4rem 0 0 0;
    }
  }
}