// Imports:
@import '../mixins/width';
@import '../variables/_breakpoints';
@import '../variables/_colors';

// Styles:
header {
  .width();

  padding: 8rem 0 4rem 0;

  @media (max-width: @breakpoint-mobile) {
    padding: 4rem 0 0 0;
  }

  a {
    text-decoration: none;

    h1 {
      font-size: 2.8rem;
      letter-spacing: .25rem;
      line-height: 2.8rem;
      padding: 0;
    }
  
    p:last-child {
      color: @grey;
      letter-spacing: .25rem;
      line-height: 2.3rem;
      padding: .4rem 0 0 0;
    }
  }
}